.display {
  width: 100%;
  max-width: 280px;
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: 50px;
  font-weight: 500;
  text-align: right;
}

.prevData {
  min-height: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  word-break: break-all;
}

.prevData.small {
  font-size: 14px;
}

.currData {
  min-height: 60px;
  word-break: break-all;
}

.currData.medium {
  font-size: 35px;
}

.currData.small {
  font-size: 23px;
}
